.navigation {
    margin-right: 70px;
}

.navigation__list {
    display: flex;
    align-items: center;
    height: 30px;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.navigation__list-el {
    display: flex;
    align-items: center;
    height: 100%;
}

.navigation__link {
    text-decoration: none;
    font-size: 14px;
    font-style: normal;
    color: #fff;
}

.navigation__link_type_movies {
    font-weight: 400;
    line-height: 18px;
}

.navigation__link_type_saved-movies {
    font-weight: 400;
    line-height: 18px;
    margin-left: 20px;
}

.navigation__link_type_account {
    margin-left: 50px;
    font-weight: 500;
    line-height: 16px;
}

.navigation__link_active {
    font-weight: 600;
}

.navigation__link_type_container-image {
    margin-left: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 6px;
    background: #0F4157;
}

.navigation__link_type_container-image-black {
    background: #313131;
}


.navigation__link_type_account-image {
    width: 10.383px;
    height: 10.669px;
}

.navigation__btn {
    width: 44px;
    height: 44px;
    display: none;
    background: url('../../images/btn-header.svg') transparent center no-repeat;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
}

.navigation__link:hover {
    opacity: 0.7;
}

.navigation__btn:hover {
    opacity: 0.7;
}

@media screen and (max-width: 768px) {
    .navigation__btn {
        display: block;
        margin-right: 30px;
    }

    .navigation {
        margin-right: 70px;
        flex-direction: column;
        width: 520px;
        height: 100vh;
        display: none;
    }
    
}

@media screen and (max-width: 320px) {
    .navigation__btn {
        width: 40px;
        height: 43px;
        margin-right: 14px;
    }

    .navigation {
        margin-right: 70px;
        flex-direction: column;
        width: 520px;
        height: 100vh;
        display: none;
    }
    
}
