.overlay {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.2s, opacity 0.2s linear;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.3);
    top: 0;
    left: 0;
    z-index: 1;
}

.overlay_opened {
    visibility: visible;
    opacity: 1;
}

.sidebar {
    width: 520px;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: #202020;   
}

.sidebar__button-close {
    width: 32px;
    height: 32px;
    background-image: url('../../images/krest.svg');
    background-size: cover;
    position: absolute;
    top: 22.44px;
    right: 22.44px;
    padding: 0;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    outline: none;
}

.sidebar__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.sidebar__list-el {
    margin-bottom: 28px;
    display: flex;
    justify-content: center;
    font-size: 18px;
    line-height: normal;
    width: 100%;
}

.sidebar__link {
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    color: #fff;
    height: 29px;
}

.sidebar__link_type_main {
    margin-top: 159px;
}

.sidebar__acc-container {
    margin-bottom: 92px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100px;
    width: 100%;
    min-height: 32px;
}

.sidebar__link_type_account {
    font-size: 14px;
    line-height: 16px;
    height: 16px;
}

.sidebar__img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 6px;
    background: #313131;
}

.sidebar__link_active {
    border-bottom: 2px solid #fff;
    height: 27px;
}

.sidebar__link_type_account-image {
    width: 10.383px;
    height: 10.669px;
}

.sidebar__link:hover {
    opacity: 0.7;
}

.sidebar__button-close:hover {
    opacity: 0.7;
}

@media screen and (max-width: 520px) {
    .sidebar {
        width: 100%;
    }
}

@media screen and (max-width: 320px) {
    .sidebar__list-el {
        margin-bottom: 24px;
    }

    .sidebar__button-close {
        width: 22px;
        height: 22px;
        top: 13.44px;
        right: 13.44px;
       
    }
}