.auth {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.auth__logo {
    width: 38px;
    height: 38px;
}

.auth__title {
    margin: 0;
    margin-top: 40px;
    max-width: 396px;
    width: 100%;
    min-height: 29px;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: #fff;
}

.auth__container {
    max-width: 396px;
    width: 100%;
}

.auth__form {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    max-width: 396px;
    width: 100%;
}

.auth__label:first-of-type {
    margin: 0;
}

.auth__label {
    margin-top: 24px;
    max-width: 396px;
    width: 100%;
}

.auth__text {
    margin: 0;
    margin-bottom: 5px;
    max-width: 390px;
    width: 100%;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #8B8B8B;
}

.auth__input {
    padding-bottom: 10px;
    max-width: 396px;
    width: 100%;
    min-height: 17px;
    background: #202020;
    border: none;
    border-bottom: 1px solid #424242;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #fff;
}

.auth__input:focus {
    outline: 0;
    box-shadow: 0 0 0 0.1rem rgba(60, 220, 132, 1);
}

.auth__error {
    display: none;
    margin-top: 6px;
    max-width: 396px;
    width: 100%;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #EE3465;
}

.auth__button {
    margin-top: 134px;
    width: 396px;
    height: 45px;
    border-radius: 3px;
    background: #4285F4;
    cursor: pointer;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: #fff;
    border: none;
}

.auth__button:hover {
    opacity: 0.8;
}

.auth__subtitle {
    margin: 0;
    margin-top: 16px;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #8B8B8B;
}

.auth__link {
    margin-left: 6px;
    text-decoration: none;
    color: #4285F4;
}

.auth__link:hover {
    opacity: 0.7;
}

@media screen and (max-width: 420px) {
    .auth__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 260px;
    }
    
    .auth__title {
        margin-top: 50px;
        max-width: 260px;
        min-height: 29px;
        text-align: center;
    }

    .auth__form {
        margin-top: 80px;
        max-width: 260px;
    }

    .auth__label {
        max-width: 260px;
    }
    
    .auth__text {
        max-width: 260px;
    }

    .auth__input {
        max-width: 260px;
    }

    .auth__error {
        max-width: 260px;
    }

    .auth__button {
        margin-top: 222px;
        width: 260px;
        height: 45px;
        font-size: 12px;
    }

    .auth__subtitle {
        margin-top: 14px;
        font-size: 12px;
    }

    .auth__link {
        margin-left: 7px;
    }
}